<ion-header>
  <ion-toolbar>
    <div class="inline arrowBack">
      <button (click)="backToMessage()" ion-button><ion-icon name="arrow-back"></ion-icon></button>
    </div>
    <div class="inline autorChat">
      <h4>Name Lastname</h4>
    </div>
    <div class="inline arrowMore">
      <button ion-button><ion-icon name="more"></ion-icon></button>
    </div>
    <div class="placeInfo">
      <span>place name, place city</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="chat" *ngFor="let message of messages">
    <div [ngClass]="currentUserId === message.fromuser ? 'currentUser' : 'channelUser'">
      <div *ngIf="currentUserId !== message.fromuser" class="fromUser">
        <img  src="{{ message.photo || './assets/imgs/no_avatar.png'}}">
      </div>
      <div class="fromMess">
        <p>{{ message.message }}</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <form class="messageForm" [formGroup]="sendMessage">
    <div class="inputMess">
      <ion-input id="inputValue" class="textMess" placeholder="New Message" formControlName="message" type="text"></ion-input>
    </div>
    <div class="sendMess">
      <button (click)="send(sendMessage.value)" ion-button><ion-icon name="arrow-dropright-circle"></ion-icon></button>
    </div>
    <div class="clearfix"></div>
    </form>
  </ion-toolbar>
</ion-footer>
