<ion-header>
  <ion-toolbar>
    <div class="inline arrowBack">
      <button routerLink="/message" routerDirection="root" ion-button><ion-icon name="arrow-back"></ion-icon></button>
    </div>
    <div class="inline autorChat">
      <h4>Name Lastname</h4>
    </div>
    <div class="inline arrowMore">
      <button ion-button><ion-icon name="more"></ion-icon></button>
    </div>
    <div class="placeInfo">
      <span>place name, place city</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
