<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-messages></app-messages>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-tabs">
      <div class="qr-code">
        <button (click)="pushMessagePage('/message')" class="earn-btn" ion-button>
          <ion-icon class="qr" name="chatbubbles"></ion-icon>
        </button>
      </div>
      <div class="location">
        <button (click)="pushMapPage('/map')" class="earn-btn" ion-button>
          <ion-icon class="location-color" name="navigate"></ion-icon>
        </button>
      </div>
      <div class="settings">
        <button (click)="pushSettingsPage('/settings')" class="earn-btn" ion-button>
          <ion-icon class="sett-icon" name="md-settings"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

