<ion-header>
  <ion-toolbar>
    <ion-title>Inbox</ion-title>
    <div>
      <ion-icon (click)="addChannelModal()" class="addChannel" name="add-circle"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="messBtn">
    <button (click)="getNearby('nearby')" class="nearby" [ngClass]="{'activated1' : buttonActiveNearby}" ion-button>nearby</button>
    <button (click)="getNearby('private')" class="private" [ngClass]="{'activated2' : buttonActivePrivate}" ion-button>private</button>
  </div>
  <div class="paddingTop">
    <div (click)="goToProductDetails(mess.id)" *ngFor="let mess of messages" class="message">
      <div class="fromMessage">
        <img src="{{ mess.photo }}"alt="avatar6">
        <p>{{ mess.fullname }}</p>
      </div>
      <div class="dateMessage">
        <span class="dateMess">{{ mess.created | amTimeAgo }}</span>
      </div>
      <p class="textMess">{{ mess.title }}</p>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-tabs">
      <div class="qr-code">
        <button routerLink="/message" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="qr" name="chatbubbles"></ion-icon>
        </button>
      </div>
      <div class="location">
        <button routerLink="/map" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="location-color" name="navigate"></ion-icon>
        </button>
      </div>
      <div class="settings">
        <button routerLink="/settings" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="sett-icon" name="md-settings"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>

