ion-title{
  text-align: left;
  padding-left: 15px;
  color: #12273d;
  font-size: 24px;
}
.addChannel{
  float: right;
  font-size: 32px;
  color: #12416a;
}
.messBtn{
  padding-bottom: 14px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  text-align: center;
  button{
    color: #acacac;
    background: #dbdbdb;
    height: 45px;
    width: 115px;
    font-size: 20px;
    outline: none;
  }
  .nearby{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
    -moz-box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
    box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
  }
  .private{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
    -moz-box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
    box-shadow: 0 0 10px 0.5px rgba(181,175,181,1);
  }
  .activated1{
    background: rgba(171,171,171,1);
    color: #fff;
  }
  .activated2{
    background: rgba(171,171,171,1);
    color: #fff;
  }
}
  .paddingTop{
    padding-top: 60px;
  }
.message{
  .textMess{
    font-weight: bold;
    font-family: sans-serif;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
    margin-top: 12px;
    color: #12273d;
    font-size: 17px;
    border-bottom: 2px solid #f2f3f8;
    margin-left: 4px;
  }
  .fromMessage{
    width: 60%;
    display: inline-block;
    img{
      width: 50px;
      border-radius: 100%;
      vertical-align: middle;
    }
    p{
      display: inline-block;
      margin: 0;
      margin-left: 10px;
      color: #6b798b;
      font-size: 15px;
      font-family: sans-serif;
      letter-spacing: 0.5px;
    }
  }
  .dateMessage{
    width: 40%;
    display: inline-block;
    text-align: right;
    .dateMess{
      color: #6b798b;
      font-size: 15px;
      font-family: sans-serif;
    }
  }
}
