.search-contact{
  position: fixed;
  width: 90%;
  top: 65px;
  z-index: 99999;
  margin-bottom: 10px;
  text-align: right;
  .search-co{
    padding: 6px;
    border-radius: 2px;
    border: 1px solid #000;
    letter-spacing: 1px;
    width: 100%;
    outline: none;
  }
  .selectContact{
    text-align: right;
  }
}
.spiner{
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99999;
}
.loadContact{
  position: fixed;
  left: 36%;
  top: 46%;
  letter-spacing: 1px;
}
.contacts{
  position: absolute;
  top: 40px;
  margin: auto;
  width: 90%;
  .name_number{
    padding-left: 10px;
  }
}
.invited-contact{
  text-align: center;
  button{
    width: 30%;
    background: #f30c56;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 16px
  }
  .invite{
    float: left;
  }
  .cancel{
    float: right;
  }
}
