<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="search-contact">
    <input class="search-co" (input)="searchContacts($event)" type="search" placeholder="Search contact" value="">
    <span *ngIf="show" class="selectContact" >Selected: {{arrayLength}}</span>
    <ion-spinner *ngIf="loading" class="spiner" name="lines"></ion-spinner>
    <span *ngIf="loading" class="loadContact">Loading contacts</span>
    <!--{{arrayLength}}-->
    <!--<div class="checked-length">-->
      <!--<ion-list>-->
        <!--<ion-item *ngFor="let entry of form">-->
          <!--<ion-label>{{entry.val}}</ion-label>-->
          <!--<ion-checkbox slot="end" (ionChange)="onInputChange($event, entry.val)"></ion-checkbox>-->
        <!--</ion-item>-->
      <!--</ion-list>-->
    <!--</div>-->
  </div>
    <div class="contacts">
    <ion-list>
      <ion-item *ngFor="let contact of searchContact;">
        <ion-checkbox [(ngModel)]="contact.checked" (ionChange)="onInputChange($event, contact?.phoneNumbers[0].value)"
         [value]="contact?.phoneNumbers[0].value" color="danger"></ion-checkbox>
        <ion-label class="name_number">{{ contact?.displayName }}<br> <small>{{ contact?.phoneNumbers[0].value }}</small></ion-label>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="invited-contact">
      <button class="invite" (click)="inviteContact()">Invite</button>
      <button class="cancel" (click)="closeModal()">Cancel</button>
    </div>
  </ion-toolbar>
</ion-footer>
