<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>073B4CA8F416A9D5870A7EBAA4FC8B50022490E6</string>
				<key>dateExpires</key>
				<string>8/4/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2V8VB59376.com.popwork</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2V8VB59376</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MyApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0d421e30-e3fc-461d-a87d-4c8ec5a5e50b</string>
				<key>name</key>
				<string>PopWork Dev Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2V8VB59376</string>
				<key>name</key>
				<string>Hari  Gadiraju</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
