<div class="places"  >
  <div class="info">
    <h3>{{ place.name }}</h3>
    <span>{{place.vicinity }}</span>
  </div>

 <div style="width:100%;height:calc(40vh - 80px);position: relative;"> 

  <span *ngIf="!tableSelected" >
    <div  (click)="selectTable(item)" *ngFor="let item of items"  [class]="item.type" [style.width]= "item.width + '%'" [style.height]="item.height + '%'" [style.left]="item.left + '%'" [style.top]="item.top + '%'" >2
      {{item.name}}
    </div>
  </span>

    <span *ngIf="tableSelected">



    </span>




</div>
</div>