<div class="places"  style="text-align:center;position:relative;width:100%;height:calc(100vw);" >
 <div style="z-index:0;filter: blur(8px);-webkit-filter: blur(8px);background-size: 100vw 100vw;width:100%;height:calc(100vw);position: absolute;top:0px;left:0px;background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQENEZ19rHQUqQ/profile-displayphoto-shrink_100_100/0?e=1585785600&v=beta&t=2-FM8pAljGgMi-XFGCC-VCEEBM5keQ7UHhrdCyDbHgI');" > </div>

 <div style="padding-top:50px;">
 <img style="border-radius:50px;z-index:999;position:relative;" src ="https://media-exp1.licdn.com/dms/image/C4E03AQENEZ19rHQUqQ/profile-displayphoto-shrink_100_100/0?e=1585785600&v=beta&t=2-FM8pAljGgMi-XFGCC-VCEEBM5keQ7UHhrdCyDbHgI" />
 {{item.name}}
</div>
</div>