.bgImage {
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  //filter: blur(3px);
  background-size:100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity:0.8;
}

.places{
  z-index:999999;
  padding: 8px 20px;
 
  h3{
    margin: 0;
    letter-spacing: 2px;
    font-weight: bold;
    color: #000;
    z-index: 9999;
  }
  span{
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
  }
  .placeUser{
    margin-top: 6px;
    ion-icon{
      font-size: 26px;
      color: #e40341;
      margin-right: 8px;
    }
    p{
      margin: 6px 0;
      display: inline-block;
      position: absolute;
      font-size: 12px;
      letter-spacing: 1px;
      color: #6f6767;
    }
  }
}
