<ion-content class="settings-content-w">
  <div class="settings-content">
    <div class="user-settings">
      <div class="choos">
        <form [formGroup]="photoEdit">
        <span *ngIf="changePhoto">[click to change photo]</span>
        <span *ngIf="savePhoto" (click)="toSavePhoto()">[click to save photo]</span>
        <input formControlName="photo" *ngIf="changePhoto"
         (change)="processFile($event)" accept="image/*" class="file-input" type="file" />
        </form>
      </div>
      <img [src]="url || '../../assets/imgs/noavatar.png'" alt="noavatar">
      <h3 *ngIf="hideName">{{ user.fullname || nameEdit.get('name').value }}
        <ion-icon (click)="showInput()" name="md-create"></ion-icon></h3>
      <div class="edit-form">
        <form *ngIf="hideFormName" [formGroup]="nameEdit" (ngSubmit)="saveForm()">
          <ion-item>
            <ion-input placeholder="lame lastname" type="text" formControlName="name"></ion-input>
          </ion-item>
          <button ion-button type="submit">Save</button>
        </form>
      </div>
      <p *ngIf="hideWork">{{ user.profile?.jobtitle || 'Job Title' }},</p>
      <p *ngIf="hideWork">{{ user.profile?.company || 'Company Name' }}
        <ion-icon (click)="showWorkInput()" name="md-create"></ion-icon></p>
      <div class="edit-works">
        <form *ngIf="hideFormWork" [formGroup]="worksEdit" (ngSubmit)="saveFormWork()">
          <ion-item>
            <ion-input placeholder="Job Title" type="text" formControlName="jobtitle"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Company Name" type="text" formControlName="company"></ion-input>
          </ion-item>
          <button ion-button type="submit">Save</button>
        </form>
      </div>
    </div>
    <div class="two-buttons">
      <button class="earn-btn" ion-button (click)="presentModal()">
        <ion-icon name="logo-usd"></ion-icon><span>Earn a free month for you and a friend</span></button>
      <button (click)="presentModalCall()" class="service-btn" ion-button>
        <ion-icon name="person"></ion-icon><span>Concierge Service</span></button>
      <!--<button class="play-btn" (click)="presentModalPlace()" ion-button>-->
        <!--<ion-icon name="pin"></ion-icon><span>Add a New Place</span></button>-->
      <button (click)="presentModalChart()" class="chart-btn" ion-button>
        <ion-icon name="trending-up"></ion-icon><span>Sip N Stir</span></button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-tabs">
      <div class="qr-code">
        <button routerLink="/message" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="qr" name="chatbubbles"></ion-icon>
        </button>
      </div>
      <div class="location">
        <button routerLink="/map" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="location-color" name="navigate"></ion-icon>
        </button>
      </div>
      <div class="settings">
        <button routerLink="/settings" routerDirection="root" class="earn-btn" ion-button>
          <ion-icon class="sett-icon" name="md-settings"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
