<ion-content class="settings-content-w" >

<img style="background-color:#000;opacity:0.8em;position:fixed;position: center center;min-height:100%;min-width: 100%;filter: blur(0.3rem);"  src="/assets/imgs/home-back.png">
          
   

<div class="settings-content" >

  <div class="user-settings" style="padding:15px;border-radius:8px;display:inline-block;margin-left:auto;margin-right:auto;padding-bottom:0px;" >
    <img [src]="user.photo" alt="noavatar">
    <h3 *ngIf="hideName" style="color:#fff;">{{ user.fullname }}
      </h3>

  </div>


<div *ngFor="let item of reservations" style="font-weight:normal;border-radius:4px;background-color:#fff;color:#666;padding:10px;text-align:left;">
  <div>Sip N Stir </div>
  <div style="font-size:0.8em;">Monday, 28th October 5:30 PM - 6:30 PM</div>
  <app-place-info [place]="item.place" ></app-place-info>
</div>

<h3 *ngIf="reservations.length == 0">You have no reservations</h3>

</div>

<!----
      <div style="vertical-align: top;display:none;" >
          <ion-toggle  style="vertical-align: middle;"   color="light"></ion-toggle><ion-label style="vertical-align: middle;color:#fff;"  >Anonymous</ion-label>
        </div>

    
    <div class="user-settings" style="padding:15px;border-radius:8px;display:inline-block;margin-left:auto;margin-right:auto;padding-bottom:0px;" >
      <img [src]="'assets/imgs/noavatar.png'" alt="noavatar">
      <h3 *ngIf="hideName" style="color:#fff;">{{ user.fullname }}
        </h3>

    </div>
  <div class="user-settings" style="color:#fff;" >
    <span (click)="showWorkInput()" *ngIf="false" style="color:#fff;font-size:0.8em;" >{{ user.profile?.url || 'Add LinkedIn Profile Url' }} 
      <ion-icon  name="md-create"></ion-icon></span>
      <div class="edit-works">
        <form *ngIf="hideFormWork" [formGroup]="worksEdit" (ngSubmit)="saveFormWork()">
          <ion-item>
            <ion-input placeholder="LinkedIn Profile Url" type="text" formControlName="jobtitle"></ion-input>
          </ion-item>
          <button ion-button type="submit" >
            <div style="padding:10px;padding-bottom:10px;" >Save LinkedIn Profile Url</div>
          </button>
        </form>
      </div>

  </div>


  <div *ngIf="!hideFormWork" class="user-settings" style="display:inline-block;height:150px;line-height:150px;width:150px;font-size:0.8em;font-weight:normal;margin-top:50px;color:#fff;border-radius:150px;background: #f30c56;;margin-left:10px;margin-right:10px;" >
     Invite a PopWorker
   </div>


    <div class="two-buttons" *ngIf="false">
      <button class="earn-btn" ion-button (click)="presentModal()">
        <ion-icon name="logo-usd"></ion-icon><span>Earn a free month for you and a friend</span></button>
      <button (click)="presentModalCall()" class="service-btn" ion-button>
        <ion-icon name="person"></ion-icon><span>Concierge Service</span></button>
      <button class="play-btn" (click)="presentModalPlace()" ion-button>-->
        <!--<ion-icon name="pin"></ion-icon><span>Add a New Place</span></button>-->
<!--      <button (click)="presentModalChart()" class="chart-btn" ion-button>-->
<!--        <ion-icon name="trending-up"></ion-icon><span>Sip N Stir</span></button>
    </div>

  -->

</ion-content>
