<ion-content>
  <div class="signup-content">
    <div class="user-avatar">
      <span>[click to change photo]</span>
      <img src="../../assets/imgs/noavatar.png" alt="noavatar">
      <h3>Brian Smith</h3>
      <p>Senior Mobile Architect,Walmart Labs</p>
      <stripe-payment></stripe-payment>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        ipsam itaque nesciunt nihil nisi odio placeat reprehenderit
        Atque autem dicta dolore doloremque ea fugit impedit,
        ipsam itaque nesciunt nihil nisi odio placeat reprehenderit
        Atque autem dolore doloremque ea fugit impedit,
        saepe sed sunt veniam!
      </p>
    </div>
  </div>
</ion-content>
