<ion-content>
  <div class="chartGraph">
    <div class="chart-wrapper">
      <div class="change-btn">
        <!--<button (click)="prevChart()" class="prev" ion-button>Prev</button>-->
        <ion-icon (click)="prevChart()" class="prev" name="arrow-round-back"></ion-icon>
        <div class="dateChart">
          <span>16-04-92</span>
        </div>
        <!--<button (click)="nextChart()" class="next" ion-button>Next</button>-->
        <ion-icon (click)="nextChart()" class="next" name="arrow-round-forward"></ion-icon>
      </div>
      <canvas id="myChart"></canvas>
    </div>
    <div class="selectGraph">
          <ion-select class="chartContent" (ionChange)="onChange($event)">
            <ion-select-option selected [value]="1">DAY</ion-select-option>
            <ion-select-option [value]="2">WEEKLY</ion-select-option>
            <ion-select-option [value]="3">MONTHLY</ion-select-option>
          </ion-select>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-tabs">
      <div class="qr-code">
        <button (click)="pushMessagePage('/message')" class="earn-btn" ion-button>
          <ion-icon class="qr" name="chatbubbles"></ion-icon>
        </button>
      </div>
      <div class="location">
        <button (click)="pushMapPage('/map')" class="earn-btn" ion-button>
          <ion-icon class="location-color" name="navigate"></ion-icon>
        </button>
      </div>
      <div class="settings">
        <button (click)="pushSettingsPage('/settings')" class="earn-btn" ion-button>
          <ion-icon class="sett-icon" name="md-settings"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
