<ion-content>
  <div class="map">
    <div class="search-place">
      <ion-icon class="search-pl" name="search"></ion-icon>
      <ion-input (input)="searchPlaces($event)" type="search" placeholder="search"></ion-input>
    </div>
    <div id="map" #gmap></div>
    <div class="slider-info">
      <ion-slides (ionSlideDidChange)="getLocation($event)" [options]="sliderConfig">
        <ion-slide *ngFor="let object of places">
          <h1>{{ object.name }}</h1>
          <span>{{ object.city }}</span>
          <span>{{ object.state }}</span>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-tabs">
      <div class="qr-code">
        <button (click)="pushMessagePage('/message')" class="earn-btn" ion-button>
          <ion-icon class="qr" name="chatbubbles"></ion-icon>
        </button>
      </div>
      <div class="location">
        <button (click)="pushMapPage('/map')" class="earn-btn" ion-button>
          <ion-icon class="location-color" name="navigate"></ion-icon>
        </button>
      </div>
      <div class="settings">
        <button (click)="pushSettingsPage('/settings')" class="earn-btn" ion-button>
          <ion-icon class="sett-icon" name="md-settings"></ion-icon>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
