<ion-content force-overscroll="false">
  <div class="homepage-content">
    <div class="video-container">
      <div class="videoFixed">
          <gl-background-video class="videoBack" src="/assets/video/coffee.mp4" poster="/assets/imgs/home-back.png"></gl-background-video>
      </div>
    </div>
    <div class="numberForm">
      <form (submit)="sendPhoneNumber()" >
          <label style="text-shadow: 0px 0px 5px #fff;">Pop<span>&#x25CF; &#x25CF; &#x25CF;</span>Work</label>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
      <button (click)="openSystem()" class="linkendin" ion-button>Pop In</button>
    </div>
  </div>
</ion-content>
