<ion-content>
  <div class="homepage-content">
    <div class="video-container">
      <video autoplay loop class="videoBack">
        <source src="../../../assets/video/20190403_133227.mp4" type="video/mp4">
      </video>
    </div>
    <div class="numberForm">
      <form (submit)="sendPhoneNumber()" >
        <label>third<span>&#x25CF; &#x25CF; &#x25CF;</span>space</label>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
      </form>
      <button (click)="openSystem()" class="linkendin" ion-button>Login to Linkendin</button>
    </div>
  </div>
</ion-content>
