<ion-tabs>
    <div class="footer-tabs">
        <ion-tab-bar slot="bottom">
           <!---- <ion-tab-button tab="message">
                <ion-icon class="qr" name="chatbubbles"></ion-icon>
                <ion-label>pop workers</ion-label>
            </ion-tab-button>-->

            <ion-tab-button tab="map">
                <ion-icon class="location-color" name="cafe"></ion-icon>
               <ion-label>popworks</ion-label>
            </ion-tab-button>
              
            <ion-tab-button tab="settings">
                <ion-icon class="sett-icon" name="md-settings"></ion-icon>
                <ion-label>me</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </div>
</ion-tabs>
