<ion-tabs>
    <div class="footer-tabs">
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="message">
                <ion-icon class="qr" name="chatbubbles"></ion-icon>
                <ion-label>Message</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="map">
                <ion-icon class="location-color" name="navigate"></ion-icon>
                <ion-label>Map</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="settings">
                <ion-icon class="sett-icon" name="md-settings"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </div>
</ion-tabs>
